{% extends "layout.html" %}
{% block content %}
<img src="https://media-exp1.licdn.com/dms/image/C5603AQEqFrroIbqhhw/profile-displayphoto-shrink_200_200/0?e=1595462400&v=beta&t=vLPZaUjrpBIUeJ3_BGbqzeon2Jqdzpj4kOJbjws2f08">
<br>
<br>
<p>
  I'm Dylan Case, I'm a data scientist, and I built this car model!
  <br>
  <br>
  Skills Used: Python, Pandas, Numpy, Sklearn, Flask, matplotlib, HTML, CSS</p>


<p>
  If you'd like to connect:
<a href ='https://www.linkedin.com/in/dylancase/'>My LinkedIn</a>
<br>
or check out my code:
<a href = 'https://github.com/dylancase'>My GitHub</a>
</p>
{% endblock content %}