{% extends "layout.html" %}
{% block content %}
<h1>My MPG Predictor Model</h1>

<h2>The Data</h2>
<p>I created a pipeline to scrape all the most recent and comprehensive car data I could find.
  Features include: horsepower, cylinders, displacement, country of origin and more.</p>
<h2>The Model</h2>
<p>I trained a random forest regressor to predict mpg from the remaining features.
<br>

<form action="{{url_for('predict')}}">
  <input type="submit" value="Try it yourself!" />
</form>
{% endblock content %}